.header {
    background-image: url("../Banner\ Image.png");
    background-size: cover;
    height: 600px;
    background-position: center;
    margin: 50px 90px 0 90px;
    padding: 5px 5px;
    border-radius: 16px;
    border-radius: 16px;

}

.header-text {
    margin-left: 50px;
    margin-top: 160px;
    text-align: center;

}

.sajeeb {
    margin-right: 70px;
    color: white;
    font-size: 32px;
    text-align: center;
}

.payel {
    margin-top: 10px;
    font-size: 70px;
    color: #FFF;
}

.section {
    height: 600px;

}

.section-one {

    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    color: #F00;
    font-size: 88px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.section-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.section-2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
}

.section-3 {
    margin-left: 400px;
}

.section-4 {
    width: 100px;
    height: 500px;
    margin-left: 920px;
    position: absolute;
    margin-bottom: 100px;
    margin-top: 100px;



}

.people {
    background-image: url(../Vectorrr.png);
    background-size: cover;
    height: 600px;
    width: 1350px;
    background-position: center;
    margin-top: 400px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 60px 60px;
    display: flex;

}

.people-1 {
    margin-top: 100px;
    margin-left: 200px;
    text-align: left;
    color: white;
}

.people-title {
    font-size: 64px;
    padding-bottom: 0px;
    padding-top: 50px;

}

.people-2 {
    font-size: 20px;
}

.people-3 {
    font-size: 20px;
}


.location {
    background: linear-gradient(180deg,
            rgba(255, 0, 0, 0.05) 0%,
            rgba(255, 0, 0, 0) 100%) no-repeat center;
    width: 1320px;
    height: 450px;
    margin: 130px auto;
    border-radius: 16px;
    align-items: center;

}

.location-1 {
    align-items: center;
    margin-left: 530px;
    padding-top: 35px;
}

.tahsin {
    color: #F00;

}

.ema {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background: #F00;
}

.offer {
    height: 500px;
    width: 1200px;
    /* margin: 50px 90px 0 90px; */
    margin: 100px auto;
    /* padding: 5px 5px; */
    border-radius: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;


}

.offer-2 {
    color: #F00;
    font-size: 24px;

}

.offer-3 {
    color: #070211;
    font-size: 48px;
    margin-top: 30px;
}

.offer-4 {
    line-height: 32px;
    color: rgba(7, 2, 17, 0.60);
}

.naimul img {
    border: 16px solid red;
    border-radius: 50%;
    padding: 20px;
}

.rion-1 {
    color: #F00;
    font-size: 48px;

}

.rion-2 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}


.rafi {
    height: 100px;
    width: 1320px;
    margin-bottom: 200px;
    /* padding-bottom: 400px; */

}

.rafi-1 {
    margin-left: 140px;

}

.rafi-2 {
    color: #F00;
    font-size: 24px;
}

.rafi-3 {
    color: #070211;
    font-size: 48px;
}

.rafi-4 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

.container {
    /* height: 500px; */
    margin-left: 140px;
    display: grid;
    flex-wrap: rap;
    gap: 24px;
    padding-bottom: 80px;
    grid-template-columns:repeat(3,1fr) ;
}

.al-amin {
    background-color: rgba(255, 0, 0, 0.05);
    height: 600px;
    width: 1200px;
    text-align: center;
    margin: 50px 50px 50px;
    margin-left: 120px;
    width: 1330px;
}

.al-amin-1 {
    padding-top: 50px;
}

.al-amin-2 {
    color: #070211;
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
}

.al-amin-3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

.al-amin-4 {
    width: 648px;
    height: 72px;
    margin-left: 350px;
}

.al-amin-5 {
    color: #FFF;
    text-align: center;
    /* font-family: Inter; */
    font-size: 20px;
    /* font-style: normal; */
    /* font-weight: 600; */
    /* line-height: normal; */
    /* text-transform: capitalize; */
    width: 120px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-top: 30px;
    

}
.bio{
    background-color: #070211;
    height: 500px;
    width: 1200px;
    margin-left: 130px;
}
.bio-2{
    color: #FFF;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 100px;
}
.bio-3{
    color: #FFF;
    font-size: 24px;
    padding-left: 100px;
    /* padding-bottom: 120px; */
    padding-top: 260px;
    
}
.bio-4{
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: -170px;
}
.bio-5{
    padding-left: 24px;
}
.bio-6{
    padding-left: 24px;
}

.bio-6{
    padding-left: 24px;
}


.bio-7{
    padding-left: 24px;


}
.bio-8{
    padding-left: 24px;

}
.bio-9{
    color: white;
    font-size: 24px;
    padding-left: 900px;
    padding-bottom: 500px;
    /* padding-top: -300px; */
    margin-top: -220px;

}
.blog-10{
    

}
.bio.11{

}
.bio-12{
    /* padding-right: 50px; */
    /* padding-bottom: 500px; */
    padding-left: 1000px;
    padding-top: -30px;
    margin-top: -250px;
    color: white;
}

