.header {
    background-image: url("../Banner\ Image.png");
    background-size: cover;
    height: 600px;
    background-position: center;
    margin: 50px 90px 0 90px;
    padding: 5px 5px;
    border-radius: 16px;
}

.header-text {
    margin-left: 50px;
    margin-top: 160px;
    text-align: center;

}

.sajeeb {
    margin-right: 70px;
    color: white;
    font-size: 32px;
    text-align: center;
}

.payel {
    margin-top: 10px;
    font-size: 70px;
    color: #FFF;
}

.section {
    height: 600px;
}

.section-one {

    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    color: #F00;
    font-size: 88px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.section-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.section-2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
}

.section-3 {
    margin-left: 400px;
}

.section-4 {
    width: 100px;
    height: 500px;
    margin-left: 100px;
    position: absolute;
    margin-bottom: 100px;

}

.people {
    background-image: url(../Vectorrr.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    background-position: center;
    margin-top: 400px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 60px 60px;
}

.people-1 {
    margin-top: 100px;
    margin-left: 200px;
    text-align: left;
    color: white;
}

.people-title {
    font-size: 64px;
    padding-bottom: 0px;
    padding-top: 50px;

}

.people-2 {
    font-size: 20px;
}

.people-3 {
    font-size: 20px;
}


.location {
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0.05) 0%,
      rgba(255, 0, 0, 0) 100%
    )
    no-repeat center;
  width: 1320px;
  height: 450px;
  margin: 130px auto;
  border-radius: 16px;
  align-items: center;

}

.location-1{
    align-items: center;
    margin-left: 530px;
    padding-top: 35px;
}

.tahsin {
    color: #F00;

}

.ema {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
 
    background: #F00;
}